/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2016, 12:03:06 PM
    Author     : ivelas
*/

#canvasDivWithImage canvas.tiny {
    cursor:  url(cursor-tiny.png) 8 8, crosshair;
}

#canvasDivWithImage canvas.small {
    cursor:  url(cursor-small.png) 16 16, crosshair;
}

#canvasDivWithImage canvas.normal {
    cursor:  url(cursor-normal.png) 24 24, crosshair;
}

#canvasDivWithImage canvas.big {
    cursor:  url(cursor-big.png) 31 31, crosshair;
}

#timeSetter tr td.palette {
    border: 1px solid gray;
}

#timeSetter tr.selected td.picker button {
    background-color: #AEC6CF;
}

#timeSetter button {
    width=50px;
}

body {
    background: #ecf1f4;
    font-family: Verdana,Geneva,sans-serif;
}

button {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:9px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
button:hover {
	background-color:#408c99;
}
button:active {
	position:relative;
	top:1px;
}

.panel {
    margin-bottom: 10px;
    margin-top: 10px;
}

#preloader {
    background-image: URL(preloader.gif);
    width: 64px;
    height: 64px;
}

.hide {
    display: none;
}

#lang-switch {
    margin-top: 200px;
}

#lang-switch td {
    text-align:center; 
    vertical-align:middle;
    padding: 5px;
    font-weight: bold;
}

.tutorial img {
    width: 100%;
}

.tutorial td.desc {
    width: 30%;
}

.tutorial table, .tutorial th, .tutorial td {
    border: 1px solid black;
}

span {
    font-weight: bold;
}

.tutorial button {
    margin: 50px;
}

.footer {
    font-size: small;
}